.manage-page {
  display: flex;
}

.title-create-container {
  display: flex;
}

.Manage-create-spot-button {
  display: flex;
}

.manage-spot-list {
  display: flex;
}

.manage-spot-info {
  display: flex;
}

.manage-spot-location {
  display: flex;
}

.manage-spot-price {
  display: flex;
}

.manage-actions {
  display: flex;
}

.manage-rating {
  display: flex;
}
