/* .all-home-spot-container {
  padding: 80px 0;
}

.home-spot-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 32px;
  padding: 4px;
  margin-top: 25px;
  justify-content: center;
  padding-bottom: 25px;
  padding-right: 24px;

}

.all-spot-nav-link {
  text-decoration: none;
  color: #222;
  border: 1px solid #ebebeb;
  border-radius: 16px;
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}

.all-spot-nav-link:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.all-spot-nav-link > img {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  object-fit: cover;
  text-decoration: none;
  color: #000;
}

.home-spot-deatils {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.home-spot-location {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.home-spot-rating {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.home-spot-rating svg {
  fill: #008489;
  margin-right: 4px;
}

.home-spot-price {
  font-size: 18px;
  font-weight: 600;
  margin-top: auto;
}





.all-spots-image {
  border-radius: 12px;
  width: 18.5rem;
  height: 18.5rem;
  object-fit: cover;
  object-position: center;
}


.home-spot-location-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: white;
} */


/* .all-home-spot-container {
  padding: 80px 0;
} */

.home-spot-container {
  display: grid;
  grid-gap: 32px;
  padding: 4px;
  margin-top: 25px;
  justify-content: center;
  padding-bottom: 25px;
  padding-right: 24px;
}

.all-spot-nav-link {
  text-decoration: none;
  color: #222;
  border: 1px solid #ebebeb;
  border-radius: 16px;
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.all-spot-nav-link:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.all-spot-nav-link::before {
  content: '';
  display: block;
  padding-bottom: 75%;
}

.all-spot-nav-link > img {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  /* height: 100%; */
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

/* .home-spot-details {
  background-color: rgb(252, 0, 0);
  padding: 16px;
  border-radius: 0 0px 50px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.home-spot-location {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.home-spot-rating {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.home-spot-rating svg {
  fill: #008489;
  margin-right: 4px;
}

.home-spot-price {
  font-size: 18px;
  font-weight: 600;
  margin-top: auto;
}

.all-spots-image {
  /* border-radius: 15px; */
}

.home-spot-location-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: white;
  margin-top: auto;
}

@media screen and (min-width: 992px) {
  .home-spot-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media screen and (max-width: 991px) {
  .home-spot-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 767px) {
  .home-spot-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 576px) {
  .home-spot-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
